:root {
  --ff: "Young Serif", serif;
  --fw-nor: 400;

  --primary-clr-one: hsl(14, 45%, 36%);
  --primary-clr-two: hsl(322, 100%, 98%);
  --background-clr: hsl(330, 100%, 98%);
  --text-clr: hsl(24, 5%, 18%);
  --wenge-brown: hsl(30, 10%, 34%);
  --egg-shell: hsl(30, 54%, 90%);
  --light-gray: hsl(30, 18%, 87%);

  --spacer: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background-color: var(--egg-shell);
}
.container {
  max-width: 800px;
  margin: 5rem auto;
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
}
.banner > img {
  width: 100%;
  border-radius: 1rem;
}
h1 {
  color: var(--text-clr);
}
p {
  color: var(--wenge-brown);
}
.recipe-pre-sec {
  background-color: hsl(330, 61%, 93%);
  padding: 2rem;
  border-radius: 0.5rem;
}
.pre-title {
  font-weight: bold;
  color: var(--primary-clr-one);
}
li {
  line-height: 2rem;
  color: var(--wenge-brown);
}
.section-title {
  color: var(--primary-clr-one);
}
.table-row {
  display: flex;
  padding-left: 1rem;
}
.table-row > * {
  width: 100px;
  margin-right: auto;
}
.attribution {
  margin-top: 3rem;
  text-align: center;
}
